<div class="container">
    <div class="col">
        <div class="card" style="border: none;">
            <a href="/detail/{{_id}}" class="raise">
                <div class="card__img">
                    <img src="{{this.image}}" class="card-img-top card__img__rent" alt="...">
                </div>
                <div class="card-body card__body">
                    <div class="div__title">
                        <h5 class="card-title card__title">{{this.brand}} {{this.model}}</h5>
                    </div>
                    <div class="div__price">
                        <div class="price">{{this.price}}€</div>
                    </div>
    
                    <div class="div__bottom">
                        <h5 class="card__title__bottom"><img src="/img/wheel.png" alt="wheel" class="ico__wheel"> Top Speed:
                            {{this.topSpeed}} km/h</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>