<div class="container">
    <div class="col">
        <div class="card" style="border: none;">
            <div class="card__img">
                <img src="{{car.image}}" class="card-img-top card__img__rent" alt="...">
            </div>
                
            <div class="card-body card__body">
                <div class="div__title">
                    <h5 class="card-title card__title">{{car.brand}} {{car.model}}</h5>
                </div>
                <div class="div__price">
                    <div class="price">{{car.price}}€</div>
                </div>
                <div class="div__bottom">
                    <h5 class="card__title__bottom"><img src="/img/calendar.png" alt="wheel" style="height: 30px;">
                        Date:
                    </h5>
                    </div>
                <div class="div__bottom">
                    <h5 class="card__title__bottom"><img src="/img/phone-call.png" alt="wheel" style="height: 30px;">
                        Phone: {{this.phone}}
                    </h5>
                </div>
                <div class="cancel__btn" style="margin: 25px;">
                    <button style="margin-bottom:5px">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Cancel Reservation
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>