<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {{#each this as |car i| }}
            {{#if i}}
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{{car.image}}" class="d-block w-100 " alt="...">
                <div class="carousel-caption carousel__description">
                     <h2 class="title__carousel animate__animated animate__fadeInLeftBig">{{car.brand}} {{car.model}}</h2>
                     <p class=""><a href="/detail/{{_id}}" class="btn btn__carousel animate__animated animate__fadeInUpBig">Reserve</a></p>
                </div>
            </div>
            {{else}}
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="{{car.image}}" class="d-block w-100 " alt="...">
                <div class="carousel-caption carousel__description">
                    <h2 class="title__carousel animate__animated animate__fadeInLeftBig">{{car.brand}} {{car.model}}</h2>
                    <p class=""><a href="/detail/{{_id}}" class="btn btn__carousel animate__animated animate__fadeInUpBig">Reserve</a></p>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
</div>
