<div class="register__login">
   <div class="login__box">
      <h2>Register</h2>
      <form action="/register" method="POST">
         <div class="user__box">
            <input type="text" name="name" value="{{user.name}}" required>
            <label>Name</label>
         </div>


         <div class="user__box">
            <input type="email" name="email" value="{{user.email}}" required>
            <label>Email</label>
         </div>

         <div class="user__box">
            <input type="password" name="password" value="{{user.password}}" required>
            <label for="password">Password</label>
         </div>

         <div class="user__box">
            <input type="text" name="phone" value="{{user.phone}}" required>
            <label>Phone number</label>
         </div>

         <button type="submit" class="btn__submit" style="margin-bottom:5px">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create account
         </button>

         {{#if errors.email }}
         <p class="error">{{errors.email}}</p>
         {{/if}}

         {{#if errors.password }}
         <p class="error">{{errors.password}}</p>
         {{/if}}

         {{#if errors}}
         <p class="error">{{errors.errors}}</p>
         {{/if}}
      </form>
   </div>
</div>