<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <img src="{{image}}" class="image__movie" alt="{{brand}}">
        </div>
        <div class="col-sm-8 des__movie">
            <h1>{{brand}}</h1>
            <p class="mt-4">            
            <h5>Max Power: {{maxPower}}</h5>
            <h4>Model: {{model}}</h4>
            </p>

            <a href="/rent" class="btn btn-back">Go back</a>
        </div>
    </div>
</div>