<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col">
            <img src="{{image}}" class="image__movie" alt="{{brand}}">
        </div>
        <div class="col des__movie">
            <h1>{{brand}}</h1>
            <p class="mt-4">            
            <h4>Max Power: {{maxPower}}</h4>
            <h5>Model: {{model}}</h5>
            </p>

            <a href="/reservation/{{_id}}" class="btn btn__reserve">Reserve</a>
        </div>
    </div>
</div>